@mixin botaoPrimario {
    background-color: $primaria;
    color: $branco;
    border: 1px solid white;
}

@mixin botaoInvertido {
    background-color: $branco;
    color: $primaria;
    border: 1px solid $primaria;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &.primaria {
        @include botaoPrimario;

        &:hover {
            @include botaoInvertido;
        }

        &:disabled {
            opacity: 0.5;

            &:hover {
                @include botaoPrimario;
            }
        }
    }

    &.invertido {
        @include botaoInvertido;

        &:hover {
            @include botaoPrimario;
        }
    }
}