$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$primaria: #5E49FF;
$primaria3: #1be5f0;
$primaria4: #F0F5FF;

$cinza: #F4F4F4;
$cinza1: #DADADA;
$cinza2: #7C7786;
$cinza3: #4D4C4D;
$cinza4: #333333;

$branco: #fff;

$desktopBreakpoint: 992px;